<%- include("header") -%>


<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nobis nesciunt adipisci amet labore earum deleniti a odit. Rem et asperiores officiis commodi esse nihil nobis expedita aliquam delectus reprehenderit?</p>

<%- include("footer") -%>
